body {
    background: url('../img/neon\ black.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: white;
}

.navigation a {
    color: rgb(0, 0, 0);
    margin-left: 40px;
    text-decoration: none;
    font-weight: 500;
}

.navigation a:hover {
    color: #34d4d4;
}


.btnLogin:hover {
    background-color: #000000;
    border-color: #34d4d4;
}

main {
    margin-top: 120px;
    padding: 20px;
}

.product-gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
}

.product img {
    max-width: 100%;
    border-radius: 10px;
}

.product h3 {
    margin: 10px 0;
}

.add-to-cart {
    background-color: #34d4d4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #28a9a9;
}

.shopping-cart {
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    margin-bottom: 10px;
}

#cart-items li button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#cart-items li button:hover {
    background-color: #c0392b;
}
